

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --background: #1d1921;
    --primary: #ffffff;
    --surface: #63108e;
    --call-to-action: #35f2aa;
    --alternative-call-to-action: #fd3d81;
    --border-radius: 10px;
}

main {
    width: clamp(40 , 100vw, 1rem);
    margin: 2rem;
}

nav.nav-bar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface);
    margin: 0;
}
nav.nav-bar > div {
    margin: 1rem;
}
nav.nav-bar > img.logo {
    transform: translateY(30%);
    margin-left: 3rem;
}

div.inline-item {
    display: flex;
    margin: .4rem;
}


@media only screen and (min-width: 800px) {
  .main-features {
    display: flex;
    justify-content: space-between;
  }
  .main-features section {
    width: 50%;
    overflow-x: hidden;
  }
}